@import "tailwindcss";
@custom-variant dark (&:where(.dark *));

:root {
  /* TOUTES MES VALEURS QUI VONT CHANGER EN FONCTION DU THEME ET DU DARK MODE */
  --clr-bg: hsl(0, 0%, 100%);
  --clr-muted: hsl(0, 0%, 95%);
  --clr-muted-alt: hsl(0, 0%, 85%);
  --clr-text: hsl(0, 0%, 4%);
}

.dark {
  /* MEME VALEURS MAIS EN DARK MODE */
  --clr-bg: hsl(0, 0%, 4%);
  --clr-muted: hsl(0, 0%, 15%);
  --clr-muted-alt: hsl(0, 0%, 20%);
  --clr-text: hsl(0, 0%, 100%);
  --clr-primary: blue-600;
  --clr-primary-muted: blue-400;
}

[data-theme="default"] {
  --clr-primary: oklch(0 0 0); /* noir */
}

.dark[data-theme="default"] {
  --clr-primary: oklch(1 0 0); /* blanc */
}

@layer components {
  .settingIcon {
    @apply h-4 w-4 opacity-60;
  }
}

.card {
  border-radius: var(--radius);
  background: var(--clr-bg);
  clr: var(--clr-fg);
  @variant dark {
    outline: 1px solid var(--clr-muted);
  }
}

@layer utilities {
  .h-inherit {
    height: inherit;
  }
  .w-inherit {
    width: inherit;
  }

  .text-clr {
    color: var(--clr-text);
  }
  .bg-clr {
    background-color: var(--clr-bg);
  }
  .bg-clr-muted {
    background-color: var(--clr-muted);
  }
  .bg-clr-muted-alt {
    background-color: var(--clr-muted-alt);
  }
}
